*.iml
.gradle
/local.properties
/./build/
/./build
/build
.DS_Store
.idea
.idea/caches
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
captures
*.jks
/build
/app/build
*.apk
app-release.apk
# End of file.
